body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	background-image: url("music1.jpg");
	background-size: cover;
	display:flex;
	flex-flow: column;
	justify-content: center;
	height: 100vh;
}
.piano {
	display: flex;
	justify-content: center;
	align-items: center;
	gap:0.01rem;
	
}

.black-keys {
	position: fixed;
	top: 5%;
	display: flex;
	gap: 29px;
	z-index: 1;
}

.white-keys {
	position: fixed;
	top: 5%;
	display: flex;
}
.key.white {
	
	height: 400px;
	width: 90px;
	background: white;
	border: black 2px solid;
}

.key.black {
	
	height: 250px;
	width: 65px;
	background: black;
	
}

.piano .no-display {
	background: rgba(0, 0, 0, 0) ;
}


